*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #0f1b31;
}

/* header */
header {
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.header-content {
  margin-left: 70px;
  margin-right: 120px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  margin-bottom: 10px;
  font-size: 3.4rem;
}

/* form */
form {
  margin-left: 120px;
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  gap: 20px;
}

label {
  font-weight: 600;
}

select {
  display: block;
  margin-top: 14px;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  padding: 0.25em 0.5em;
  cursor: pointer;
  background-color: white;
  border: 1px solid #676774;
}

/* button style */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 120px;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* book's div */

#books {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 60px;
  display: grid;
  font-size: 2em;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 20px;
}

.book {
    background-color: #b8d2fd;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
}

.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 6rem;
  text-align: center;
  margin-left: auto;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

footer {
    margin-top: 50px;
}

.delete {
  margin-left: 0;
}